# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__

* List of the popular languages that Data Scientists use.
* List of the commonly used libraries used by Data Scientists.
* Table of Data Science tools.
* Few examples of evaluating arithmetic expressions in Python.

### Some of the popular languages that Data Scientists use are:

1.  PYTHON
2.  R
3.  SQL
4.  JULIA
5.  JAVASCRIPT

### Some of the commonly used libraries used by Data Scientists include:

1. PANDAS
2. NUMPY
3. MATPLOTLIB
4. SEABORN
5. SCIKIT-LEARN

### Table of Data Science tools :

|Data Science Tools|
|---|
|Hadoop|
|ApacheSpark|
|SAS|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python

#### This a simple arithmetic expression to mutiply then add integers

In [2]:
print((3*4)+5)

17

#### This will convert 200 minutes to hours by diving by 60

In [8]:
print(str(200/60)+" " + "Hours")

3.3333333333333335 Hours

## Author

Mohit Nagar